/* @media - CSS at rules*/
/* Default: Desktop */
.box {
    width: 1200px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    background-color: crimson;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-content{
display: flex;
color: #fff;
}

/* printer screen*/
/* Nếu đọ rộng thiết bị nhỏ hơn 500px thì áp dụng các bộ quy tắc CSS này */
/* if (screenwidth < 500) */
@media screen and (max-width: 500px){
    .box{
        width: 100%;
        background-color: blue;
    }
    .box-content{
        font-size: 30px;
        color: yellow
    }
}

/* if (screenwidth >= 500) */
@media screen and (min-width: 500px){
    .box{
        max-width: 100%;
        background-color: dimgray;
    }
    .box-content{
        font-size: 30px;
        color: rgb(13, 224, 41)
    }
}
/* if (screenwidth >= 600) */
@media screen and (min-width: 600px){
    .box{
        max-width: 590px;
        background-color:darkorchid;
    }
    .box-content{
        font-size: 30px;
        color: yellow
    }
}
/* if (screenwidth >= 700) */
@media screen and (min-width: 700px){
    .box{
        max-width: 690px;
        background-color: limegreen;
    }
    .box-content{
        font-size: 30px;
        color: rgb(255, 0, 55)
    }
}

/* if (screenwidth >= 800) */
@media screen and (min-width: 800px){
    .box{
        max-width: 690px;
        background-color: rgb(0, 255, 234);
    }
    .box-content{
        font-size: 30px;
        color: rgb(0, 0, 0)
    }
}
/* if (screenwidth >= 900) */
@media screen and (min-width: 900px){
    .box{
        max-width: 690px;
        background-color: rgb(71, 71, 71);
    }
    .box-content{
        font-size: 30px;
        color: rgb(0, 255, 255)
    }
}

/* Mobile first - ưu tiên CSS cho thiết bị mobile trước: min-width */
/* Desktop first - ưu tiên CSS cho thiết bị desktop trước: max-width */